.divide-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    ul {
      background: rgba(255,255,255,0.6);
      padding: 10px 0px 10px 0px;
      margin: 5px;
      @media(min-width: 770px) {
        width: 30%;
      }
    @media(max-width: 770px) {
        width: 300px;
    }
    }

    li {
			list-style:none;
			font-size: 20px;
			color: black;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      padding: 10px 0px 10px 0px;
    }
    width: 100%;

}
