.divide-row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 5vh;

    ul {
      background: rgba(255,255,255,0.8);
      padding: 10px 0px 10px 0px;
      margin: 10px;
    }

    li {
			list-style:none;
			font-size: 20px;
			color: black;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      padding: 10px 0px 10px 0px;
    }


}
@media(min-width: 770px) {
    .divide-row {
      margin-top: 5vh;
    }
    .col-sm-4 {
      width: 370px;
    }
  }
@media(max-width: 770px) {
  .divide-row {
    margin-top: 0px;
  }
  .col-sm-4 {
    width: 300px;
  }
}