@import '../../_colors.scss';
.companies {
  a {
    padding: 10px;
    text-decoration: none;
    color: black;
    &:hover{
      background: $color6;
    }
  }
  p {
    margin: 0px;
  }
  img {
    height: 75px;
  }
}
