.targets {
  display: flex;
  justify-content: center;
  .box {
    margin: 20px;
    img {
      max-width: 100%;
    }
    p {
      color:  #0b0a35;
    }
  }
  .box:hover {
    & {
      cursor: pointer;
      background: #0b0a35;
    }
    p {
      color: white;
    }
  }
  .activeClass{
    background: #0b0a35;
    p {
      color: white;
    }
  }
  .activeClass:hover{
    cursor:default;
  }
}
