@import '../../_colors.scss';
.targets {
  display: flex;
  justify-content: center;
  .box {
    padding: 35px;
    img {
      max-width: 100%;
      width: 75px;
    }
    p {
      color:  $color5;
    }
  }
  .box:hover {
    & {
      cursor: pointer;
      background: $color6;
    }
  }
  .activeClass{
    background: $color6;
  }
  .activeClass:hover{
    cursor:default;
  }
}
