@import '../../_colors.scss';
.targets {
  display: flex;
  justify-content: center;
  .box {
    padding: 35px;
    img {
      max-width: 100%;
    }
    p {
      color:  $color5;
    }
  }
  .box:hover {
    & {
      cursor: pointer;
      background: $color6;
    }
  }
  .activeClass{
    background: $color6;
  }
  .activeClass:hover{
    cursor:default;
  }
  @media(max-width: 563px){
    .box {
      padding: 10px;
      img {
        width: 50px;
      }
    }

  }
}
