@import '../../_colors.scss';
.home {
  text-align: center;
  .background-img {
    h1 {
      background: $gradient1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 50px;
      margin: 10px 0px 10px 0px;
    }
    p {
      background: $gradient1;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
    }
  }
  @media(min-width: 770px) {
   .background-img {

   .title {
      font-size: 80px;
    }
    .subtitle {
      font-size: 40px;
    }
   }
  }
 @media(max-width: 770px) {
   .background-img {
    .title {
      font-size: 50px;
    }
    .subtitle {
      font-size: 20px;
  
    }
   }
  
}
}
