.contact-form {
  z-index: 999;
  display: flex;
  color: white;
  position: fixed;
  bottom: -228px;
  // bottom: 0px;
  right: 20px;
  width: 300px;
  flex-direction: column;
  #contact-button {
    text-align: center;
    background-color: black;
    margin: 0px;
    padding: 12px;
    align-self: flex-end;
    font-size: 12px;
  }
  .form-group {
    padding: 15px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-content: stretch;

    input,textarea {
      margin: 5px;
      padding: 5px;
    }
  }
  .submit {
    align-self: flex-end;
  }
}
