@import '../../_colors.scss';
.footer{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: $color1;
  background-image: $gradient1;
  color: white;
  * {
    margin: 0px;
  }
  .contact-info {
    padding: 20px;
    .numbers {
      margin: 20px 0px 20px 0px;
    }
    .info {
      display: flex;
      align-items: center;
    }
    .email {
      margin: 20px 0px 20px 0px;
    }
    p{
      font-size: 15px;
    }
    h2 {
      font-size: 15px;
      margin-right: 10px;
    }
  }
  .facebook {
    padding: 20px;
  }
  .logos{
    margin: 20px 0px 10px 0px;
    display: flex;
  }
  .icon {
    width: 30px;
    height: 30px;
    fill: white;
    color: white; //ie8
    margin: 0px 5px 0px 5px;
    &:hover {
      border-radius: 100%;
      color: $color5; // IE8
      fill: $color5;
      background-color: white;
      transform: scale(1.25);
      transition: background-color .5s, transform .5s ease-out;
    }
  }
  svg {
    height: 100%;
    width: 100%;
  }
}
