@import  "_colors";
body {
  margin: 0px;
}
.rnd-btn {
  padding: 10px 20px 10px 20px;
  margin: 15px;
  border: 0px;
  border-radius: 25px;
  text-decoration: none;
  background: $color1;
  background-image: $gradient1;
  color: $color2;
  &:hover{
    background: #033d9b;
    background-image: $gradient2;
    cursor: pointer;
  }
}
p,a, h1, h2 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: $color1;
}
.row-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  width: 60%;
  margin: auto;
  padding: 20px;
}
