.background-img {
  background-position: center center; //vert&horz centered
  background-repeat: no-repeat; //no tiling
  background-size: cover; //scales background to container

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
